
.screen {
    display: flex;
    margin: 1em;
    column-span: all;
    border: 100px solid darkred;
}

.chessboard {
    width: 800px;
    height: 950px;
    margin: 1em;
    float: center;
    border: 50px solid black;
}
.black {
    float: left;
    width: 94px;
    height: 94px;
    background-color: tan;
      font-size:65px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    border: 3px solid black;
}
.white {
    float: left;
    width: 94px;
    height: 94px;
    background-color: white;
    font-size:65px;
    text-align:center;
    display: table-cell;
    border: 3px solid black;
}

.bottom {
    float: left;
    width: 394px;
    height: 46px;
    background-color: lightcoral;
    font-size:30px;
    text-align:center;
    display: table-cell;
    vertical-align:left;
    border: 3px solid black;
}

.resetButton {
    color: red;
    width: 392px;
    height: 44px;
    background-color: black;
    font-size: 30px;
    text-align:center;
    display: inline-block;
    border: 6px solid grey;
}